@{
    ViewData["Title"] = "Bad Request";
    string Cause = (string) ViewData["Cause"];
}

<div class="text-center">
    @if(Cause != null) {
        <h1 class="text">Error - @Cause</h1>
    }
    else {
        <h1 class="text">Error - Bad Request</h1>
    }
</div>