@{
    ViewData["Title"] = "Create entry";
}

@model NtrTrs.Models.ActivityModel

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
</head>
<body>

<h4>Entry</h4>
<div class="row justify-content-center">
    <div class="col">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Code" class="control-label"></label>
                <input asp-for="Code" class="form-control" />
                <span asp-validation-for="Code" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Budget" class="control-label"></label>
                <input asp-for="Budget" class="form-control" />
                <span asp-validation-for="Budget" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label for="sub" class="control-label">Subactivities(divided by ',')</label>
                <input type="text" id="sub" name="sub" class="form-control" />
            </div>
            <div class="form-group d-flex justify-content-between">
                <a href="@Url.Action("Index", "Activity")" class="btn">
                    <i class="fas fa-angle-left arrow"></i>
                </a>

                <input type="submit" value="Create" class="btn btn-primary" />
            </div>

        </form>
    <div id="entry-submit">
    </div>
</div>

</div>
</body>
</html>
