@{
    ViewData["Title"] = "Login Page";
    List<User> users = (List<User>) ViewData["Users"];
    }

<div class="text-center">
    <h3 class="display-4">Select User</h3>
        <form asp-controller="Login" asp-action="Logged" method="get">
            <div class="col-12">
                <div class="row">
                    <select name="userName" class="custom-select">
                    @{
                        if (users == null || users.Count == 0) {
                            <h3 class="display-4">There are no users in system.</h3>
                        } else {
                            foreach(User user in users) {
                                <option>@user.Name</option>
                            }
                        }
                    }
                    </select> 
                    <div class="col-xs-6 mt-3">
                        <input type="submit" value="Submit" class="btn btn-primary" />
                    </div>
                </div>  
            </div>
        </form>
</div>
