
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/css/bootstrap-datepicker.css" type="text/css" />

<div class="row">
    <div class="col-md-8 ms-auto">
        <form asp-controller="Home" asp-action="Index" method="get">
            <div class="col-12">
                <div class="row">
                    <div class="col-xs-6 px-4">
                        <input type="text" id="txtDate" name="dateString" class="form-control" autocomplete="off" />
                    </div>
                    <div class="col-xs-6">
                        <input type="submit" value="Submit" class="btn btn-primary" />
                    </div>
                </div>  
                <div class="col-6 mt-3 text-center">
                    <label id="lblDate">@ViewBag.Message</label>
                </div>
            </div>
        </form>
    </div>
</div>