@{
    ViewData["Title"] = "Home Page";
    string dateString = (string) ViewData["Date"];
    string userName = (string) ViewData["UserName"];
}

@section scripts{ 
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/js/bootstrap-datepicker.js" type="text/javascript"></script>
<script type="text/javascript">
    $(function () {
        $('#txtDate').datepicker({
            changeMonth: true,
            changeYear: true,
            format: "dd/mm/yyyy",
            language: "tr"
        });
    });
</script>
}

<div class="text-center">
    <h4 class="display-4">Entries for @userName on @dateString does not exists.</h4>

    <partial name="_CalendarPartial" />
</div>
